html { 
    background: url(background-image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    padding: 0;
    font-family: 'sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;    
    margin: auto;

  }
  
  header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(41, 54, 54, 0.836);
  }

  nav {
    padding: 20px;
    margin-right: 5px;
    font-size: 2.5vw;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  span {
    padding: 0px 25px;
    font-size: 2vw;
  }

  a { 
    color:orange;
    transition: all .2s ease-in-out;
}

  a:hover {
    color:purple;
}


  h1 {
    font-family: "Hallo Sans";
    color:  rgba(28, 155, 160, 0.774);
    text-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    background-color: var(--secondary);
    padding: 15px 1% 15px 1%;
    margin: 0;
    font-size: 5vw;
    line-height: 1;
  }

  h2 {
    font-family: "Segoe Script", "Lucida Handwriting";
    color: rgb(71, 71, 71);
    padding: 15px 1% 15px 1%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    background-color: rgba(28, 155, 160, 0.774);

  }

  .aboutme {
    color: rgba(28, 155, 160, 0.774);
    margin-right: 0;
    margin-top: 0;
    font-size: 1.8vw;
    padding: 0 10px 5px 0px;
    display: flex;
    flex-direction: row;
    background-color: rgba(41, 54, 54, 0.836);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
     }

  .myself-picture{
    padding: 0px 15px 0px 0px;
    width: 20%;
    height: 20%;
  }

  .projects {
    color: rgba(28, 155, 160, 0.774);
    background-color: rgba(41, 54, 54, 0.836);
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    line-height: 0;
     }

  .project-picture{
    width: 600px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;
  }

  h3 {
    font-family: "Segoe Script", "Lucida Handwriting";
    text-shadow:  rgba(146, 204, 206, 0.4);
    color: rgb(71, 71, 71);
    padding: 15px 1% 35px 1%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    background-color: rgba(28, 155, 160, 0.774);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }

  h4 {
    font-family: "Hallo Sans";
    color:  rgba(28, 155, 160, 0.774);
    text-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    padding: 15px 1% 15px 1%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    background-color: rgba(41, 54, 54, 0.836);
  }

  footer {
    border-radius: 10px;
    border: 10px solid rgba(28, 155, 160, 0.774);
    padding: 15px 6% 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(41, 54, 54, 0.836);
  }

  .nav2 {
    padding: 5px 25px;
    font-size: 2vw;
    font-weight: bolder;
  }   
  .textbox { 
    position:relative; 
    bottom: 100px;
    font-size: 2vw;
    padding: 0 0 0 0;
    margin: 0;
    font-family: "Segoe Script", "Lucida Handwriting";
    max-width: 80%;
    max-height: 80%
 }

 /*Remove text link decorations*/
 a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}


  /* Hover Growth */
  
    .project-picture:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    }

   .project-picture ~ #textbox {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    }
    
    .project-picture:hover ~ #textbox {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    }

    @media screen and (max-width: 768px)
    {
        body{
            margin-left:10%;
            margin-right:10%;
        }   
    }